@import 'style';

main {
    margin-top: $insection_space * 3 + $logotype_height;
}

.items-list_inner {
    > header {
        display: flex;
        align-items: center;
        gap: $inarticle_space;
        margin-bottom: $insection_space;

        > .filter {
            position: relative;
            z-index: 20;
            display: flex;
            align-items: center;
            column-gap: $inarticle_space;

            > .cost-range > input[type='text'] {
                width: auto;
                margin: 0 $inline_space;
                text-align: center;
            }
        }
    }

    .items_container {
        position: relative;
        z-index: 10;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $insection_space;
        text-align: center;

        @import 'item-card';
    }
}