@charset "UTF-8";
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a::before, a::after {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

h2 {
  font-size: inherit;
  font-weight: inherit;
}

h3 {
  font-size: inherit;
  font-weight: inherit;
}

h4 {
  font-size: inherit;
  font-weight: inherit;
}

h5 {
  font-size: inherit;
  font-weight: inherit;
}

h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

@font-face {
  font-family: "Mak";
  src: url("../fonts/mak/MAK.otf") format(opentype), url("../fonts/mak/MAK.eot") format(eot), url("../fonts/mak/MAK.woff") format(woff);
  font-weight: 300;
  font-style: normal;
  font-variant: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-Regular.ttf") format(truetype), url("../fonts/raleway/Raleway-Regular.eot") format(eot), url("../fonts/raleway/Raleway-Regular.woff") format(woff), url("../fonts/raleway/Raleway-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-Bold.ttf") format(truetype), url("../fonts/raleway/Raleway-Bold.eot") format(eot), url("../fonts/raleway/Raleway-Bold.woff") format(woff), url("../fonts/raleway/Raleway-Bold.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
}
input:not([type=radio], [type=checkbox], [type=button]), .select-place {
  width: 280px;
  padding: 8px 16px;
  border: 0 solid #EDF5FF;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-bottom-color: #D7807C;
  border-radius: 8px;
  font-family: inherit;
  color: inherit;
  background-color: #EDF5FF;
  outline: none;
  transition: all 0.2s;
}
input:not([type=radio], [type=checkbox], [type=button]):hover, input:not([type=radio], [type=checkbox], [type=button]):focus, .select-place:hover, .select-place:focus {
  border-color: #D7807C;
  border-width: 2px;
}

input[type=button], input[type=reset], button {
  padding: 16px 32px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
}
input[type=button]:hover, input[type=reset]:hover, button:hover {
  border-color: #D7807C;
  cursor: pointer;
}
input[type=button]:active, input[type=reset]:active, button:active {
  background-color: #D7807C;
}

input[type=button], button {
  border: 2px solid #E91072;
  color: #EDF5FF;
  background-color: #E91072;
}

input[type=reset] {
  border: 2px solid #DAFFA6;
  color: #010018;
  background-color: #DAFFA6;
}

input[type=radio] {
  display: none;
}

.radio-clon {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  border: 0 solid #EDF5FF;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-bottom-color: #D7807C;
  border-radius: 12px;
  background-color: #EDF5FF;
  transition: all 0.2s;
}
.radio-clon:hover {
  border-color: #D7807C;
  cursor: pointer;
}
.radio-clon::before {
  position: absolute;
  top: 4.8px;
  left: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #D7807C;
  opacity: 0;
}
input[type=radio]:checked + .radio-clon::before {
  opacity: 1;
}

select[name=categories] {
  display: none;
}

.select-clon {
  position: relative;
}

.select-place {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select-place > .img_container {
  width: 20px;
  height: 20px;
}

.option-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 280px;
  padding-top: 46px;
  border-bottom: 2px solid #D7807C;
  border-radius: 8px;
  background-color: #EDF5FF;
  visibility: hidden;
  transition: all 0.2s;
}

.option-clon {
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.2s;
}
.option-clon:hover {
  background-color: #D7807CA3;
}

*::-moz-selection {
  color: #EDF5FF;
  background-color: #D7807C;
}

*::selection {
  color: #EDF5FF;
  background-color: #D7807C;
}

html, body {
  line-height: 1.5;
  color: #010018;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  background-color: #EDF5FF;
}

._wrapper {
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

section {
  margin-bottom: 80px;
}

._container {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 0 28px;
  box-sizing: content-box;
}

[class$=_inner] {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.img_container {
  overflow: hidden;
}
.img_container * {
  width: 100%;
  height: 100%;
}
.img_container > a {
  display: block;
}
.img_container img {
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s;
}
.img_container svg {
  -o-object-fit: contain;
     object-fit: contain;
}

h1 {
  font-size: 52px;
  font-family: "Mak", serif;
}

h2 {
  margin-bottom: 28px;
  font-size: 32px;
  font-weight: 700;
}

header.global {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
}
header.global .main-tools {
  position: relative;
  top: 0;
  left: 0;
  z-index: 110;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #DAFFA6B8;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}
header.global .main-tools .header-global_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
  padding: 28px 0;
}
header.global .main-tools .header-global_inner > .catalog_button {
  display: flex;
  align-items: center;
  gap: 8px;
}
header.global .main-tools .header-global_inner > .catalog_button > .text {
  transition: all 0.2s;
}
header.global .main-tools .header-global_inner > .catalog_button > .text:hover {
  text-decoration: underline;
}
header.global .main-tools .header-global_inner > .catalog_button > .arrow {
  width: 20px;
  height: 20px;
  transition: all 0.2s;
}
header.global .main-tools .header-global_inner > .catalog_button > .arrow.active {
  transform: rotate(-180deg);
}
header.global .main-tools .header-global_inner > .logotype {
  height: 40px;
}
header.global .main-tools .header-global_inner > .user-tools {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}
header.global .main-tools .header-global_inner > .user-tools .img_container {
  display: block;
  width: 40px;
  height: 40px;
  padding: 8px;
  border: 2px solid #D7807C00;
  border-radius: 8px;
  transition: all 0.2s;
}
header.global .main-tools .header-global_inner > .user-tools .img_container:hover {
  border-color: #D7807C;
  cursor: pointer;
}
header.global .main-tools .header-global_inner > .user-tools .img_container:hover path {
  fill: #D7807C;
}
header.global .main-tools .header-global_inner > .user-tools .img_container:active {
  background-color: #D7807C;
}
header.global .main-tools .header-global_inner > .user-tools .img_container:active path {
  fill: #EDF5FF;
}
header.global .main-tools .header-global_inner > .user-tools > .cart_icon {
  border-color: #E91072;
}
header.global .main-menu {
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 90;
  width: 100vw;
  background-color: #EDF5FFB8;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  transition: all 0.4s;
}
header.global .main-menu.active {
  top: 96px;
}
header.global .main-menu .main-menu_inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 28px;
  padding: 28px 0;
  font-size: 32px;
  font-family: "Mak", serif;
}

footer {
  width: 100vw;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #EDF5FF;
  background-color: #010018;
}
footer a:hover {
  text-decoration: underline;
}
footer .footer_inner {
  padding: 28px 0;
}
footer .footer_inner > .footer-menu {
  display: flex;
  justify-content: space-between;
  gap: 28px;
  margin-bottom: 28px;
}
footer .footer_inner > .footer-menu h3 {
  margin-bottom: 28px;
  font-size: 32px;
  font-weight: 700;
}
footer .footer_inner > .footer-menu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
footer .footer_inner > .footer-menu .contacts-data {
  margin: 28px 0;
}
footer .footer_inner > .footer-menu .contacts-data address {
  font-style: normal;
}
footer .footer_inner > .footer-doc {
  padding-top: 28px;
  border-top: 4px solid #EDF5FF;
  border-radius: 8px;
}
footer .footer_inner > .footer-doc .doc-links > ul {
  display: flex;
  justify-content: center;
  gap: 28px;
}
footer .footer_inner > .footer-doc > .social-media {
  margin-top: 12px;
  margin-bottom: 28px;
}
footer .footer_inner > .footer-doc > .social-media > ul {
  display: flex;
  justify-content: center;
  gap: 12px;
}
footer .footer_inner > .footer-doc > .social-media > ul .img_container {
  width: 20px;
  height: 20px;
}
footer .footer_inner > .footer-doc > .rights {
  text-align: center;
  color: #666A6F;
}

.burger-menu_area {
  display: none;
}

.cart_area {
  display: none;
}

.ask-call_area {
  display: none;
}

.cards_container {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}
.cards_container > .item-card {
  position: relative;
  border-bottom: 4px solid #DAFFA6;
  border-radius: 8px;
  background-color: #DAFFA6;
}
.cards_container > .item-card > .img_container {
  position: relative;
  z-index: 10;
  border-radius: 8px;
  overflow: hidden;
}
.cards_container > .item-card > .item-descrip {
  position: relative;
  z-index: 10;
  padding: 28px;
}
.cards_container > .item-card > .item-descrip > h3 {
  font-family: "Mak", serif;
}
.cards_container > .item-card > .item-descrip > p {
  margin: 12px 0;
}
.cards_container > .item-card > .light-back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: #EDF5FF;
  transition: all 0.4s;
}
.cards_container > .item-card:hover {
  cursor: pointer;
}
.cards_container > .item-card:hover > .light-back {
  height: 0;
}

.front-page {
  width: 100vw;
  height: 100vh;
  background: url("../img/DIY TRENDY CLAY RINGS - FAÇA VOCÊ MESMO ANÉIS DE BISCUIT - FAÇA E VENDA E GANHE RENDA EXTRA_2.png") no-repeat bottom right/auto 100%, url("../img/front-page_background.jpg") no-repeat center/cover;
}
.front-page .front-page_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.front-page .front-page_inner > article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.new-items {
  width: 100vw;
  text-align: center;
}

.categories {
  width: 100vw;
  background: linear-gradient(90deg, #DAFFA6A3 0%, #DAFFA6A3 100%), url("../img/Hc51031ff7dee40b2802b53f6df8950b03_bw.jpg") no-repeat center/cover;
}
.categories .categories_inner {
  display: flex;
  justify-content: center;
}
.categories .categories_inner .catalog_button {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}
.categories .categories_inner .catalog_button h3 {
  font-size: 32px;
  font-weight: 700;
}
.categories .categories_inner .categories_container {
  flex: 2;
  display: grid;
  grid-template: repeat(2, 426.6666666667px)/repeat(2, 426.6666666667px);
}
.categories .categories_inner .categories_container article {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EDF5FF;
  font-family: "Mak", serif;
}
.categories .categories_inner .categories_container article > h2 {
  position: relative;
  z-index: 30;
  font-weight: 300;
  transition: all 0.4s;
}
.categories .categories_inner .categories_container article > .img_container, .categories .categories_inner .categories_container article .dark-side {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}
.categories .categories_inner .categories_container article > .dark-side {
  background-color: #0100187A;
  -webkit-backdrop-filter: blur(0);
          backdrop-filter: blur(0);
}
.categories .categories_inner .categories_container article:hover {
  cursor: pointer;
}
.categories .categories_inner .categories_container article:hover h2 {
  font-size: 52px;
}
.categories .categories_inner .categories_container article:hover > .img_container > img {
  transform: scale(2);
}
.categories .categories_inner .categories_container article:hover > .dark-side {
  background-color: #010018B8;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}

.bestsellers {
  width: 100vw;
  text-align: center;
}

.add-services {
  width: 100vw;
}
.add-services .add-services_inner {
  text-align: center;
}
.add-services .add-services_inner > .points_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
.add-services .add-services_inner > .points_container > .service-point {
  position: relative;
  width: 480px;
  height: 88px;
  border-bottom: 4px solid #DAFFA6;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.4s;
}
.add-services .add-services_inner > .points_container > .service-point.active {
  height: auto;
}
.add-services .add-services_inner > .points_container > .service-point > .service-line {
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px;
  border-radius: 8px;
  background-color: #DAFFA6;
}
.add-services .add-services_inner > .points_container > .service-point > .service-line .img_container {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 8px;
}
.add-services .add-services_inner > .points_container > .service-point > .service-line h3 {
  display: flex;
  align-items: center;
  gap: 12px;
}
.add-services .add-services_inner > .points_container > .service-point > .service-line h3:hover {
  cursor: pointer;
}
.add-services .add-services_inner > .points_container > .service-point > .service-line h3 > .plus {
  transition: all 0.2s;
}
.add-services .add-services_inner > .points_container > .service-point > .service-line h3 > .plus.active {
  transform: rotate(45deg);
}
.add-services .add-services_inner > .points_container > .service-point > .service-line .service-descrip_button {
  width: 32px;
  height: 32px;
  padding: 4px;
  border: 2px solid #E91072;
  border-radius: 8px;
  background-color: #E91072;
}
.add-services .add-services_inner > .points_container > .service-point > .service-line .service-descrip_button svg {
  transform: rotate(-90deg);
}
.add-services .add-services_inner > .points_container > .service-point > .service-line .service-descrip_button path {
  fill: #EDF5FF;
}
.add-services .add-services_inner > .points_container > .service-point > .service-line .service-descrip_button:hover {
  border-color: #D7807C;
  cursor: pointer;
}
.add-services .add-services_inner > .points_container > .service-point > .service-line .service-descrip_button:active {
  background-color: #D7807C;
}
.add-services .add-services_inner > .points_container > .service-point .service-descrip {
  position: relative;
  left: 0;
  z-index: 10;
  padding: 28px;
  border-radius: 8px;
  background-color: #EDF5FF;
}/*# sourceMappingURL=index.css.map */