@import 'style';

main {
    height: 100vh;
    margin-top: $insection_space * 3 + $logotype_height;
}

.main_inner {
    display: flex;
    justify-content: center;
    gap: $insection_space;
    
    .item-imgs {
        display: flex;
        gap: $inline_space;
        flex: 57;

        .img-list {
            display: flex;
            flex-direction: column;
            gap: $inline_space;
            flex: 14;

            > .img_container {
                border-radius: $radius;
            }
        }

        .review {
            flex: 86;
            border-top: $strong-width_border solid $accent_color;
            border-bottom: $strong-width_border solid $accent_color;
            border-radius: $radius;
        }
    }

    .item-information {
        flex: 43;

        article {
            margin-bottom: $insection_space;

            > h2 {
                margin-bottom: $inarticle_space;
                font-size: $global-text_size;
                color: #{$dark-blue_color} + #{$middle_trans};
            }

            > h1 {
                padding: $inarticle_space;
                border-bottom: $strong-width_border solid $light-green_color;
                border-radius: $radius;
                font-size: $heading_size;
            }

            > .cost {
                margin-top: $insection_space;
                font-size: $main-heading_size;
                font-weight: 700;
            }

            > button {
                margin-top: $inarticle_space;
                padding: $heading_size $heading_size * 2;
                font-size: $heading_size;
            }
        }

        figure {
            > figcaption {
                margin-bottom: $inarticle_space;
                font-size: $heading_size;
                font-weight: 700;
            }

            > p {
                margin: $inarticle_space 0;
            }

            > p:last-child {
                display: flex;
                flex-direction: column;
                gap: $inarticle_space;

                .point {
                    font-weight: 700;
                    color: #{$dark-blue_color} + #{$high_trans};
                }
            }
        }
    }
}